<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=3, maximum-scale=3, user-scalable=yes">
		<title>{{ page.title }}</title>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
{% include header.html %}
<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include recentposts.html %}
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>
{% include footer.html %}
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    	<!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="js/bootstrap.min.js"></script>
</body>
</html>
