---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="postdate">{{ page.date | date_to_string }}</p>
{% include tags.md %}

<div class="post">
  {{ content }}
</div>
  <div class="pagination">
  {% if page.next %}
     <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a>
  {% endif %}
  {% if page.previous %}
     <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a>
  {% endif %}
  </div>
<br>
<p>Comments:</p>
<br>
{% include commentit.html %} 
